<ul>
  <li><%= @van.name %></li>
  <li><%= @van.model %></li>
  <li><%= @van.capacity %></li>
  <li><%= @van.price_per_day %></li>
  <li><%= @van.van_city %></li>
  <li><%= @van.availability? %></li>
  <li><%= @van.description %></li>
</ul>

<%= link_to 'Van list', vans_path, class: 'btn btn-primary'%>

<%= link_to 'Booking', new_van_booking_path(@van), class:'btn btn-info' %>
<br>
<br>

<% if policy(@van).edit? %>
  <%= link_to 'Edit my Van', edit_van_path(@van), class: 'btn btn-secondary' %>
<% end %>

<% if policy(@van).destroy? %>
  <%= link_to '- Delete my Van', van_path(@van), method: :delete, data: { confirm: "Are you sure?" },  class:'btn btn-danger' %>
<% end %>




