<ul>
  <li><%= @van.name %></li>
  <li><%= @van.model %></li>
  <li><%= @van.capacity %></li>
  <li><%= @van.price_per_day %></li>
  <li><%= @van.van_city %></li>
  <li><%= @van.availability? %></li>
  <li><%= @van.description %></li>
</ul>
<%= link_to 'Van list', vans_path %>

<% if policy(@van).edit? %>
  <%= link_to 'Edit my Van', edit_van_path(@van) %>
<% end %>
