<a href="#" onclick="history.go(-1)"  class="btn btn-primary mt-5 ml-5"> << Go back to results </a>

<h1 id="van-list"><br> <strong>Your Choice :</strong> <%=@van.name %> </h1>

<div class="d-flex justify-content-center">

  <div class="card-van">
      <%= image_tag("https://source.unsplash.com/collection/1729942/?sig=#{@van.id}") %>
      <div class="card-van-infos">
        <div>
          <h2><%=@van.name %></h2>
          <p><strong>Model: </strong><%= @van.model %></p>
          <p><strong>Capacity: </strong><%= @van.capacity %></p>
          <p><strong>City: </strong><%= @van.van_city %></p>
          <p><% if @van.availability? == true %>
              <p class="van-status__available">Available</p>
            <% else %>
              <p class="van-status__unavailable">Unavailable</p>
            <% end %>
          </p>
        </div>
        <h2 class="card-van-pricing"><%= @van.price_per_day %>€ /day</h2>
        <%= image_tag "https://source.unsplash.com/collection/4389261/?sig=#{@van.user.id}", class:'card-van-user avatar-bordered' %>
        <!-- <img src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="card-van-user avatar-bordered" /> -->
      </div>
    </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to 'Booking', new_van_booking_path(@van), class:'btn btn-info' %>
</div>

<br>


  <% if @van.user == current_user %>
  <div class="card-van p-4 mx-auto">
    <h4 id="van-list" class="text-secondary"> <strong><i class="fas fa-arrow-down"></i> It's your van <i class="fas fa-arrow-down"></i></strong></h4>
    <br>
  <% end %>

  <div class="d-flex justify-content-center">
    <% if policy(@van).edit? %>
      <%= link_to 'Edit my Van', edit_van_path(@van), class: 'btn btn-secondary mr-5' %>
    <% end %>

    <% if policy(@van).destroy? %>
      <%= link_to '- Delete my Van', van_path(@van), method: :delete, class:'btn btn-danger', id:"delete-van-btn", hidden: true%>
        <button id="delete-van-confirmation" class="btn btn-danger">Delete my van</button>
    <% end %>
  </div>
</div>



