<div class="full-screen">
  <div class="container">

    <div id="search-form">
      <%= form_tag vans_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Model"
        %>
         <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "City"
        %>

         <%= number_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Capacity",
          min:0
        %>

        <%= label_tag "Renting dates" %>
        <%= date_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "From"
        %>
        <%= date_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "To"
        %>

        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="title-home">
      <h1>Welcome to Van the road</h1>
      <% if policy(Van).index? %>
      <%= link_to 'Discover our vans', vans_path, class: 'btn btn-primary btn-detail' %>
      <% end %>
      <% if policy(Van).create? %>
      <%= link_to 'Post your van for rent', new_van_path, class: 'btn btn-primary btn-detail' %>
      <% end %>
    </div>
  </div>
</div>



