<div class="cards-profile">
  <div class="cards-myvans">
    <h2>My vans</h2>
    <% @vans_user.each do |van_user| %>
      <div class="card-profile">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-profile-infos">
          <h2><%= van_user.name %></h2>
          <p><strong>Model: </strong><%= van_user.model %></p>
          <p><strong>Capacity: </strong><%= van_user.capacity %></p>
          <p><strong>City: </strong><%= van_user.van_city %></p>
          <p><% if van_user.availability? %>
              <p class="van-status__available">Available</p>
            <% else %>
              <p class="van-status__unavailable">Unavailable</p>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% @bookings_user.each do |booking_user| %>
      <p><strong>Starting date: </strong><%= booking_user.starting_date %></p>
      <p><strong>Ending date: </strong><%= booking_user.ending_date %></p>
    <% end %>
  </div>

  <div class="cards-mybookings">
    <h2>My bookings</h2>
    <% @my_bookings.each do |my_booking| %>
      <div class="card-profile">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-profile-infos">
          <h2><%= my_booking.van.name %></h2>
          <p><strong>Starting date: </strong><%= my_booking.starting_date %></p>
          <p><strong>Ending date: </strong><%= my_booking.ending_date %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
